@model IEnumerable<CRUD_using_Repository.Models.Employee>  
    @{ 
        ViewBag.Title = "Index";
    }
<h3 class ="text-center text-uppercase ">List Of Employee</h3>
<p>
    @Html.ActionLink("Create New", "Create", "", new {@class = "btn btn-primary"})
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
            <th>@Html.DisplayNameFor(m => m.Position)</th>
            <th>@Html.DisplayNameFor(m => m.Office)</th>
            <th>@Html.DisplayNameFor(m => m.Salary)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Age</td>
                    <td>@emp.Position</td>
                    <td>@emp.Office </td>
                    <td>@emp.Salary</td>
                    <td>
                        @Html.ActionLink("Details","Details",new { id = emp.Id }, new {@class="btn btn-info"}) 
                        @Html.ActionLink("Edit", "Edit", new {id = emp.Id }, new {@class="btn btn-primary"})
                        @Html.ActionLink("Delete","Delete",new {id = emp.Id}, new {@class="btn btn-danger"}) 
                    </td>
                </tr>
            }
    </tbody>
</table>

